body{
    margin: 0px;
    padding-top: 70px;
    padding-left: 90px;
    padding-right: 25px;
    background-color: rgba(0,0,0,0.03);
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    /* width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center; */
    /* border: 1px solid lightgray; */
    /* display: block; */
}

.search-box{
    display: block;
    flex: 1;
    height: 36px;
    border: 0.2px solid lightgray;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 1px;
    box-shadow: inset 0.5px 0.5px 3px rgb(235, 234, 234);
    width: 0;
}

.search-box::placeholder{
    font-size: 16px;
}

.video-title{
    width: 100%;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    /* width: 250px; */
    /* text-decoration: underline; */
    /* text-align: center; */
    /* font-style: italic;
    color: blue; */
    margin-bottom: 0px;
}

.text-color{
    color: grey;
    font-family: Arial;
    font-size: 16px;
}

.container{
    /* width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px; */
    cursor: pointer;
}

.profile-pic-container{
    /* display: inline-block;
    width: 40px;
    vertical-align: top;
    margin-right: 15px; */
}

.profile-pic{
    width: 100%;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.content-container{
    /* display: inline-block;
    width: 200px; */
}

.img-container{
    height: 225px;
    margin-bottom: 15px;
    position: relative;
}

.lower-div-box{
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 5px;
}

.main-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 20px;
}

@media (max-width : 500px){
    .main-grid-container{
        grid-template-columns: 1fr;
    }
}

@media (min-width : 501px) and (max-width : 750px){
    .main-grid-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width : 751px) and (max-width : 999){
    .main-grid-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width : 1000px){
    .main-grid-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.header{
    height: 55px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.left-section{
    /* width: 160px; */
    display: flex;
    align-items: center;
    /* background-color: lightblue; */
}

.middle-section{
    margin-left: 70px;
    margin-right: 35px;
    flex: 1;
    max-width: 600px;
    display: flex;
    align-items: center;
    /* background-color: lightsalmon; */
}

.right-section{
    width: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: lightblue; */
    margin-right: 20px;
    flex-shrink: 0;
}

.hamburger-menu{
    height: 24px;
    margin: 0px 24px; /* top/bottom, left/right */   
}

.youtube-logo, .search-img, .voice-search-img, .upload-icon, .noty-icon{
    height: 25px;
}

.search-btn{
    height: 40px;
    width: 60px;
    border: 0.2px solid lightgray;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 248, 248);
    margin-right: 8px;
    position: relative;
}

.search-btn:hover, .voice-search-btn:hover, .hamburger-menu, .youtube-logo, .upload-icon, .noty-icon, .user-icon{
    cursor: pointer;
}

.voice-search-btn{
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: rgba(0, 0, 0, 0.03);
    position: relative;
}

.user-icon{
    border-radius: 50%;
    height: 32px;
}

.sidebar{
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 55px;
    width: 70px;
    background-color: white;
    z-index: 200;
    padding-top: 5px;
}

.timeline{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    color: white;
    bottom: 8px;
    right: 10px;
    font-size: 13px;
    font-weight: 650;
    padding: 2px 5px;
    border-radius: 3px;
}

.noty-container{
    position: relative;
}

.noty-count{
    position: absolute;
    border-radius: 50%;
    background-color: rgba(206, 10, 10, 0.781);
    color: white;
    top: -4px;
    right: -2px;
    padding: 0px 5px;
    font-size: 12px;
}

.sidebar-box{
    height: 70px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.sidebar-box:hover{
    background-color: rgb(145, 144, 144);
    opacity: 0.2;
}

.sidebar-box div{
    margin-top: 3px;
    font-size: 11px;
}

.sidebar-img{
    height: 23px;
}

.search-tooltip{
    position: absolute;
    bottom: -32px;
    font-size: 12px;
    font-weight: 550;
    padding: 4px 6px;
    background-color: rgb(85, 84, 84);
    color: white;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
}

.search-btn:hover .search-tooltip{
    opacity: 1;
}

.voice-tooltip{
    position: absolute;
    left: 1px;
    bottom: -31px;
    font-size: 12px;
    font-weight: 550;
    padding: 4px 6px;
    background-color: rgb(85, 84, 84);
    color: white;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
    white-space: nowrap;
}

.voice-search-btn:hover .voice-tooltip{
    opacity: 1;
}

/*  
position property

fixed -> relative to viewport and element doesnot belong to dom no more
absolute -> relative to viewport but here the elemnt moves with page scroll
relative -> element remain at its own position.


*/